*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  text-align: center;
}
table, th, td {
  border: 1px solid;
}
th{
  text-align: start;
}

nav{
  display: flex;
  justify-content: space-between;
  width: 500px;
}